body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 64px;
    line-height: 30px;
    color:#ffffff;
}
header{
    background-color: #2d25a0;
    padding-bottom: 35px;
}
.container{
    width:85%;
    margin:auto;
    
}
.header-top-area{
    
    padding-top:42px;
}

/* Button area start */
.button a{
    text-decoration: none;
    padding: 8px 25px;
    background-color: #E02C6D;
    color:#ffffff;
    font-size: 16px;
    font-weight: 500;
    transition: .5s;
    border-radius: 10px;
}
.button a:hover{
    background-color: lightyellow;
    color:mediumblue
}
/* Button area end */
/* header bottom area start */
.header-bottom-area{
    display: flex;
    margin-top:50px;
}
.half-width{
    width:50%;
    
}
.half-width img{
    width:100%;
    
}
.banner-img{
    transition: .5s;
}

.banner-img:hover {
    transform:scale(1.03);
    
    
}


/* header bottom area end */
/* Player area start */
.players{
    margin:70px 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    justify-items: center;
    
}
.players .player{
    width:280px;
    height:420px;
    padding:15px;
    box-shadow: .5px .5px 30px lightgray;
}
.players .player img{
    width:100%;
}
.player h2{
    margin:8px 0;
}
/* Player area end */
/* top player area start */
.top-players{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}
.top-player-heading{
    font-size: 40px;
    text-align: center;
}
.top-player{
    height: 270px;
    position:relative;
    overflow: hidden;
    margin:1%;
    
}
.top-player img{
    width: 100%;
}
.player-info{
    position:absolute;
    top:0;
    display: none;
    
}
.top-player:hover .player-info{
    display: block;
    color:#ffffff;
    padding: 5px;
    
}
.player-photo{
    transition: 1s;
}
.top-player:hover .player-photo{
    transform: scale(1.1);
}
/* top player area end */
/* Player details area start */
.footer-top{
    background-color: rgb(95, 92, 92);
}
.player-details{
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.player-details h3{
    font-size:23px;
    color:#ffffff;
}
.player-details p{
    font-size:15px;
    color:rgb(207, 203, 203);
}
/* Player details area end */
/* footer bottom area */
.footer-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:50px;
}
.footer-logo{
    width:50%;
}
.footer-logo img{
    width:100%;
}
.social-icon a{
    font-size: 25px;
    background-color: rgba(92, 92, 92, 0.253);
    border-radius: 50%;
    padding: 5px 10px;
    margin:5px;
    color:black;
}
.copyright-section p{
    font-size: 14px;
}


/* =============================responsive website============================ */
@media only screen and (max-width: 600px) {
    h1{
        font-size:50px;
    }
    .header-bottom-area{
        flex-direction: column;
    }
    .half-width{
        width:100%;
        margin-top:50px;
    }
    .banner-img img{
        width:90%;
    }
    .players{
        
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
        margin:auto;
        justify-items: center;
        
    }

    .top-player-heading{
        font-size: 30px;
        text-align: left;
    }
    .top-players{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .player-details{
        justify-items: center;
        grid-template-columns: repeat(1,1fr);
        text-align: center;
        

    }
    .info{
        margin-top:30px;
    }
    
    
  }
